<!--? Agregar partials para head -->
<%- include('includes/head.ejs', {usuNombre:usuNombre}) %>

        <!--TODO Vista de agragar -->
        <div class="mx-60 my-20">
            <form action="/Agregar" method="POST" class="max-w-sm mx-auto"> 
            <div class="mb-5">
                <label for="Nombre" class="block mb-2 text-sm font-medium dark:text-black">Nombre del trabajador</label>
                <input id="Nombre" name="Nombre"  class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-slate-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:shadow-sm-light" required />
            </div>
            <div class="mb-5">
                <label for="Area" class="block mb-2 text-sm font-medium dark:text-black">Área encargada</label>
                <input id="Area" name="Area" class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-slate-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:shadow-sm-light" required />
            </div>
            <div class="mb-5">
                <label for="Correo" class="block mb-2 text-sm font-medium dark:text-black">Correo</label>
                <input type="text" id="Correo" name="Correo" class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-slate-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:shadow-sm-light" required />
            </div>
            <div class="mb-5">
                <label for="Local" class="block mb-2 text-sm font-medium dark:text-black">Local</label>
                <input type="text" id="Local" name="Local" class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-slate-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:shadow-sm-light" required />
            </div>
            <button type="submit" class="text-white dark:hover:bg-amber-400 focus:outline-none dark:bg-orange-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Confirmar</button> 
            </form>
        </div>
        <hr class="mt-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:opacity-100" /><br>

<!--? Agregar partials para footer -->
<%- include('includes/foot.ejs') %>


