<!--? Agregar partials para head -->
<%- include('includes/head.ejs') %>

<div class="mx-60 my-20">
    <h3>PREGUNTAS LAB 1</h3>
    <table class="border-separate">
        <thead>
                <tr>
                    <th class="bg-yellow-600">PREGUNTA</th>
                    <th class="bg-yellow-600">RESPUESTA</th>
                </tr>
        </thead>
        <tbody class="bg-lime-800/50">
            <tr>
                <td class="azul">¿Cuál es la diferencia entre Internet y la World Wide Web?</td>
                <td  id="respuesta">El internet es una red global de computadoras interconectadas en todo el mundo, mientras que la Web es una colección de páginas dentro de una red. La Web necesita del internet para acceder a la información. https://www.bbc.com/mundo/noticias-47538812</td>
            </tr>
            <tr>
                <td class="azul">¿Cuáles son las partes de un URL?</td>
                <td id="respuesta">
                    Protocolo. Define cómo se enviarán los datos, puede ser HTTP o HTTPS.<br>
                    Subdominio. Es lo que se encuentra después del protocolo, ejemplo: “www”.<br>
                    Dominio. Es el nombre del dominio y la TLD, ejemplo: “.com”.<br>
                    Ruta. Es la ubicación del recurso de un servidor.<br>
                    Parámetro. Es información extra en una URL.<br>
                    Etiqueta. Ancla a una parte especifica de la página.
                </td>
            </tr>
            <tr>
                <td class="azul">¿Cuál es el propósito de los métodos HTTP: GET, HEAD, POST, PUT, PATCH, DELETE?</td>
                <td id="respuesta">
                    
                    GET. Solicita una representación de un recurso.<br>
                    HEAD. Pide el encabezado.<br>
                    POST. Envía una datos a un recurso, causando cambios en el servidor.<br>
                    PUT. Reemplaza representaciones actuales del recurso.<br>
                    DELETE. Borra un recurso específico.<br>
                    PATCH. Actualizar datos de un recurso.                       
                </td>
            </tr>
            <tr>
                <td class="azul">¿Qué método HTTP se debe utilizar al enviar un formulario HTML, por ejemplo cuando ingresas tu usuario y contraseña en algún sitio? ¿Por qué?</td>
                <td id="respuesta">Se utiliza un método POST, ya que al momento de enviar los datos de usuario y contraseña al servidor se realizan cambios como el inicio de sesión o mandar un mensaje sobre algún error.</td>
            </tr>
            <tr>
                <td class="azul">¿Qué método HTTP se utiliza cuando a través de un navegador web se accede a una página a través de un URL?</td>
                <td id="respuesta">Se utiliza el método Get, ya que se solicita una representación de la URL a la que corresponde.</td>
            </tr>
            <tr>
                <td class="azul">Un servidor web devuelve una respuesta HTTP con código 200. ¿Qué significa esto? ¿Ocurrió algún error?</td>
                <td id="respuesta">Significa que la solicitud fue exitosa y no ocurrió ningún error.</td>
            </tr>
            <tr>
                <td class="azul">¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se encontró con un error 404? ¿Por qué?</td>
                <td id="respuesta">Si debe corregirlo ya que indica que el recurso no fue encontrado. A no ser que sea un error de una página eliminada o que el usuario colocó mal la URL.</td>
            </tr>
            <tr>
                <td class="azul">¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se encontró con un error 500? ¿Por qué?</td>
                <td id="respuesta">Si, porque el error es interno en el servidor.</td>
            </tr>
            <tr>
                <td class="azul">¿Qué significa que un atributo HTML5 esté depreciado o desaprobado (deprecated)?</td>
                <td id="respuesta">Significa que es obsoleto y que no es recomendado usarlo.</td>
            </tr>
            <tr>
                <td class="azul">¿Cuáles son las diferencias principales entre HTML 4 y HTML5?</td>
                <td id="respuesta">HTML5 es mejor, ya que admite vídeo y audio, así como nuevas etiquetas como “header” y “nav”.</td>
            </tr>
            <tr>
                <td class="azul">¿Qué componentes de estructura y estilo tiene una tabla?</td>
                    <td id="respuesta">    
                        Estructura:Etiquetas como table,tr,th y td.<br>
                        Estilo: CSS para bordes, colores, etc.<br>
                    </td>
            </tr>
            <tr>
                <td class="azul">¿Cuáles son los principales controles de una forma HTML5?</td>
                <td id="respuesta">Input, textarea, select y button.</td>
            </tr>
            <tr>
                <td class="azul">¿Qué tanto soporte HTML5 tiene el navegador que utilizas?</td>
                <td id="respuesta"><img src="/CSTD/Imagenes/html5_Edge.jpg" width="300"> </td>
            </tr>
            <tr>
                <td class="azul">El ciclo de vida y desarrollo de los sistemas de información:</td>
                <td id="respuesta">
                    Ciclo de vida: Planificación, análisis, diseño, implementación, mantenimiento.<br>
                    Ciclo de desarrollo: Requisitos, diseño, construcción, pruebas, despliegue.
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!--? Agregar partials para footer -->
<%- include('includes/foot.ejs') %>