/*DELECTOR DE ETIQUETA*/
body{
    margin: 0 auto;
    max-width: 50em;
    /*font-family:'Helvica','Arial','Sans-serif';         Se usa para poner un grupo de fuentes de texto para usar.*/
    line-height: 1.5;
    padding: 4em 1em;
}

h2{
    margin-top: 1em;
    padding-top: 1em;
}

th{
    background-color: #267cb5ca;
}

td{
    border: 1px solid #382b53aa;
}

/*SELECTOR DE CLASE*/
.azul{
    background-color: #9983efb2;
    width: 300px;
}

/*DELECTOR DE ID*/
#respuesta{
    color:#382b53aa
}