/*DELECTOR DE ETIQUETA*/
body{
    margin: 0 auto;
    max-width: 50em;
    font-family:'Helvica','Arial','Sans-serif';  /*       Se usa para poner un grupo de fuentes de texto para usar.*/
    line-height: 1.5;
    padding: 4em 1em;
}

h2{
    margin-top: 1em;
    padding-top: 1em;
}

th{
    background-color: #40916c;
}

td{
    border: 1px solid #382b53aa;
}

/*SELECTOR DE CLASE*/
.azul{
    background-color: #74c69d;
    width: 300px;
}

.derecha{
    float: right;
    
}

.blueyP{
    background-color: #b7e4c7;
    margin-right: 1em;
    padding-left: 1em;
}

/*DELECTOR DE ID*/
#respuesta{
    color:#382b53aa
}

